.specify{
    border:0px solid black;
    font-size:20px;
    width:350px;
    height:150px;
    margin-left:300px;
}

.forms{
    border:2px solid black;
    width:60%;
    height:400px;
}
.selectb{
    width:147px;
    height:20px;
    font-size:15px;
    margin-left:100px;
}
.enter{
    width:800px;
    height:30px;

}
.payment{
    border:2px solid black;
    width:800px;
    height:600px;
    
    margin-top:10px;
}
.subm{
    width:100px;
    height:40px;
    margin-left:400px;
}