body{
    margin:0;
    padding:0;
    background:#313131;
    opacity:1;
}

.slider{
    width:100%;
    height: 400px;
    background:url(a.jpg);
    margin:0px auto;
    animation:slide 15s infinite;
}
 @keyframes slide{
    25%{
        background:url(a.jpg);
    }
    50%{
        background:url(r.jpg);
    }
    75%{
        background:url(u.jpg);
    }
    100%{
        background:url(v.jpg);
    }
} 

.websitename{
    width:100%;
    height:60px;
    font-size:30px;
    text-align:center;
    font-weight: bolder;
    margin:0px auto;
    padding-bottom:20px;
}

.registration{
    width:100%;
    height:150px;
}

.register{
    border:0px solid black;
    width:300px;
    height:100px;
    text-align:center;
    font-size:15px;
    font-weight:bolder;
    border-radius:100px;
    margin-left:200px;
    margin-top:40px;
    float:left
}

.explorewebsite{
    border:0px solid black;
    width:300px;
    height:100px;
    text-align:center;
    font-size:15px;
    font-weight:bolder;
    border-radius:100px;
    margin-right:200px; 
    margin-top:40px;
    float:right;
}
